body {
    padding-top: 54px;
}

button {
    background-color: #01a5a5;
    color: #fff;
    border-radius: 5px;
    margin-left: 5px;
}

button:hover {
    background-color: #017777;
}

#animal-form {
    margin-bottom: 20px;
}

#animal-form label {
    display: block;
}

#animal-form input {
    margin-bottom: 10px;
}

#addAnimal {
    background-color: #01a5a5;
    color: #fff;
    border-radius: 5px;
    margin-left: 5px;
}

#addAnimal:hover {
    background-color: #017777;
}

#the-gifs img {
    max-height: 150px;
    max-width: 200px;
}

#the-gifs div {
    float: left;
}

.slick-carousel {
    height: 200px;
}

.slick-giphy img {
    max-height: 150px;
    max-width: 150px;
}

.slick-slide img {
    margin-left: auto;
    margin-right: auto;
}

.slick-carousel div {
    text-align: center;
}

.slick-prev:before,
.slick-next:before {
    color: black !important;
}

.slick-prev,
.slick-next {
    top: 30% !important;
}

.fa-heart {
    color: red;
}